<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre - Registro</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/003cc75b52.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- h e a d e r -->
<header>
    <div class="container">

        <div class="cont-movil">

        <div class="logo">
            <a href="/" class="home"><img src="/images/logo-mercado-liebre.svg" alt="Logo ML"></a>
        </div>

        <!-- s e a r c h b a r -->
        <div class="busqueda">
            <input class="searchBar" type="text" placeholder="Buscar productos, marcas"><br>
            <button class="searchButton">
                <i class="fas fa-search"></i>
            </button>
        </div>
        </div>

        <div class="compra-cuotas">
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas sin tarjeta de crédito</p>
        </div>
    </div>
    
    <nav>
        <div class="nav-content">
            
            <ul class="nav-left">
                <li><a href="/#" class="enlaces">Ofertas</a></li>
                <li> <a href="/#" class="enlaces">Tiendas Oficiales</a></li>
                <li><a href="/#" class="enlaces">Vender</a></li>
                <li><a href="/#" class="enlaces">Ayuda</a></li>
            </ul>


            <ul class="nav-right">
                <li><a href="/register.html" class="enlaces">Crea tu cuenta <i class="far fa-address-card"></i></a></li>
                <li> <a href="/#" class="enlaces">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/#" class="enlaces">Mis compras <i class="fas fa-shopping-basket"></i></a></li>

            </ul>


            <!-- m e n u  h a m b u r g u e s a -->
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
</header>

    <form action="/crear-usuario" method="POST" class="registerform">
        
        <h1>Registro</h1>
        <!-- Datos básicos -->
        <div class="controlador-form">
            <label for="nombre">Nombre</label>
            <input class="input-style" type="text" name="nombre" id="nombre" placeholder="Nombre" required>
        </div>

        <div class="controlador-form">
            <label for="apellido">Apellido</label>
            <input class="input-style" type="text" name="apellido" id="apellido" placeholder="Apellido" required>
        </div>
        
        <div class="controlador-form">
            <label for="nombreUsuario">Nombre de usuari@</label>
            <input class="input-style" type="email" name="usuario" id="usuario" placeholder="usuario@domain.com" required>
        </div>

        <div class="controlador-form">
            <label for="fecha">Fecha de Nacimiento</label>
            <input class="input-style" type="date" name="fecha" value="1996-07-17" min="1920" required>
        </div>

        <div class="controlador-form">
            <label for="domicilio">Dirección</label>
            <input class="input-style" type="text" name="domicilio" id="domicilio" placeholder="Calle" required>
        </div>

        <div class="controlador-form">
            <label for="domicilio">Número</label>
            <input class="input-style" type="text" name="domicilio-numero" id="domicilio-numero" placeholder="123" required>
        </div>


        <!-- Perfil de usuario -->
        <div class="contenedor-perfil">
            <h4 id="perfil">Perfil del usuario</h4>

            <label for="comprador" class="perfiles">
                <input type="radio" name="perfil" value="comprador" id="comprador" required> Comprador
            </label>

            <label for="vendedor" class="perfiles">
                <input type="radio" name="perfil" value="vendedor" id="vendedor"> Vendedor
            </label>
        </div>

        <!-- Intereses de usuario -->

        <div class="contenedor-intereses">
            <h4 id="intereses">Intereses</h4>

            <label for="a" class="intereses">
                <input  type="checkbox" name="intereses" value="electro" >Electro
            </label>
            
            <label for="a" class="intereses">
                <input  type="checkbox" name="intereses" value="moda" >Moda
            </label>

            <label for="a" class="intereses">
                <input  type="checkbox" name="intereses" value="hogar" >Hogar
            </label>

            <label for="a" class="intereses">
                <input type="checkbox" name="intereses" value="jugueteria">Juguetería
            </label>

            <label for="a" class="intereses">
                <input type="checkbox" name="intereses" value="vida sana">Vida Sana
            </label>
        </div>



        <div class="controlador-form">
            <h4 id="userPick">Foto de Usuario</h4>
            <input class="input-style" type="file" name="avatar" accept=".jpg, .png">
        </div>


        <div class="controlador-form">
            <h4>Crear Contraseña</h4>
            <label for="contraseña">Contraseña</label>
            <input class="input-style" type="password" name="password" minlength="6" maxlength="15" placeholder="Contraseña" required>
        </div>

        <div class="controlador-form">
            <label for="contraseña">Confirmar Contraseña</label>
            <input class="input-style" type="password" name="password" minlength="6" maxlength="15" placeholder="Repetir contraseña" required>
        </div>

        <div class="contenedor-botones">
            <button class="boton-registro" type="submit">
                Enviar
            </button>
            <button class="boton-registro" type="reset">
                Borrar
            </button>
        </div>
    </form>
</body>
</html>